oopL2/.idea/
oopL2/cmake-build-debug/
oopL2/CMakeLists.txt

oopL1/.idea/
oopL1/cmake-build-debug/
oopL1/CMakeLists.txt

oopL3/.idea/
oopL3/cmake-build-debug/
oopL3/CMakeLists.txt

oopL4.1/.idea/
oopL4.1/cmake-build-debug/
oopL4.1/CMakeLists.txt